/*===================*/
/*   initial setup   */
/*===================*/
body{
    font-family: Arial, Helvetica, sans-serif;}
*{
    box-sizing: border-box;
}
/*===================*/
/*     side nav      */
/*===================*/
.side_nav{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2B3137;
    overflow-x: hidden;
    transition: 0.5s;
}
/*side nav head*/
.side_nav_head{
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 8px;
    background-color: #24292E;
    padding-top: 12px;
}
.side_nav_head i{
    font-size: 30px;
    padding-right: 5px;
}
/*side nav menu head*/
.side_nav_menu_head{
    display: flex;
    color: lightgray;
    align-items: baseline;
    padding: 10px 10px 5px 10px;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid #20252a;
}
.side_nav_menu_head_name_icon{
    display: flex;
    align-items: baseline;
}
.side_nav_menu_head_name_icon i{
    padding-right: 10px;
}
/*side nav sub menu list*/
.side_nav_sub_menu_list{
    display: flex;
    flex-direction: column;
    background-color: #24292E;
}
.side_nav_sub_menu_list a{
    color: lightgray;
    text-decoration: none;
    padding: 5px 0px 5px 22px;
    border-bottom: 1px solid #353d45;
}
.side_nav_sub_menu_list a:hover{
    color: gray;
}
.side_nav_sub_menu_list a i{
    font-size: 10px;
}
/*rotate side nav head icon*/
[id*="rotate"]{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.down{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.up{
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
/*===================*/
/*   main container  */
/*===================*/
.main_container{
    margin-left: 20%;
    width: 80%;
    transition: 0.5s;
}
/*========================*/
/*  container header nav  */
/*========================*/
.container_header_nav{
    background-color: #eaecee;
    display: flex;
    padding: 18px;
    justify-content: baseline;
}
.side_nav_close_btn{
    width: 5%;
    display: flex;
    align-items: center;
    color: #56616f;
    cursor: pointer;
}
.user_setting{
    display: flex;
    width: 95%;
    justify-content: flex-end;
}
.user_setting a{
    text-decoration: none;
    color: #56616f;
    padding-left: 15px;
}
.user_setting a i{
    color: #6f0024;
}
/*========================*/
/*  flexi_load_history    */
/*========================*/
.flexi_load_history-tbl{
    padding: 20px;
}
#flexiLoadHistoryTbl > tbody > tr > td > i{
    cursor: pointer;
}
/*========================*/
/*        Dialog Box      */
/*========================*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    marigin-bottom: 10px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}